  <div class="row">
    <div class="col s8 offset-s2">
      <div class="card">
        <div class="sm-jumbotron center-align">
          <h2>Developer  Registration</h2>
          <div class="row">
            <div class="input-field col s12">
              <button type="submit" name="submit" id="button" class="btn btn-primary" (click)="getReport()" >View Report</button>
            </div>
          </div>
        </div>
        <form class="col s12 white" #userRegForm = "ngForm" (submit)="onSubmit(userRegForm.value)">
          <div class="row">
            <div class="input-field col s12">
                <label for="fullName" id="lbl">Full Names</label>
                <input type="text" [(ngModel)] ="person.fullName" name="fullName"  id="frm-input"/>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
               <label for="IdNumber" id="lbl">ID Number</label>
              <input type="text" [(ngModel)] ="person.IdNumber" name="IdNumber"  id="frm-input"/>
            </div>
          </div>
          <div class="row">
              <div class="input-field col s12">
                <button type="submit" name="submit" id="button" class="btn btn-primary" >submit</button>
              </div>
            </div>
        </form>

      </div>
    </div>
  </div>
